$breakpoints: (
        'sm': 'screen and (min-width: 400px)',
        'md': 'screen and (min-width: 768px)',
        'lg': 'screen and (min-width: 1000px)'
) !default;
$header-logo-height: 96px;

$primary-color: #DC4A5E;
$secondary-color: #14213D;
$nickel: #707070;
$bg-color: #EEEEEE;
